* {
    box-sizing: border-box;
}

body {
    font-family: Apple Chancery, cursive;
    font-weight: 500;
    font-size: 17px;
    padding: 8px;
    margin: 15px 34px;
    background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 1) 11.2%, rgba(110, 123, 251, 1) 91.1%)
}

.container {
    background-color: rgba(73, 109, 156, 0.26);
    background-color: ;
    padding: 5px 20px 15px 20px;
    border: 1px solid rgba(156, 252, 248, 1);
    border-radius: 4px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea,
input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px;
}

fieldset {
    background-color: #ffff;
    border: 1px solid #ffff;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-style: italic;
}

input[type="submit"] {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    color: #ffff;
    border: none;
    cursor: grab;

}

input[type="submit"]:hover {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}